@model StockSale.App.Models.ViewModels.ActualProviderOrderViewModel

@{
    ViewData["Title"] = "Añadir Productos a la Orden";
    int nextPage = ViewBag.PageNumber + 1;
    int prevPage = ViewBag.PageNumber - 1;
    float total = 0f;
    if (Model.Products_Prices != null || Model != null)
    {
        foreach (var product in Model.Products_Prices)
        {
            var sumtotal = product.PriceList * product.Quantity;
            total += sumtotal;
        }
    }
}

<h2>Lista de Productos</h2>
<div class="two-grid mb-4">
    <form method="get">
        <div class="input-group">
            <input class="form-control"
                   type="text"
                   name="searchString"
                   placeholder="Buscar productos..."
                   value="@Context.Request.Query["searchString"]" />
            <button type="submit" class="btn-submit">
                Buscar
            </button>
        </div>
    </form>
        <form>
        <button class="go-button w-50"
           type="submit"
           asp-area=""
           asp-controller="ProviderOrder"
           asp-action="GetActualProviderOrder"
           asp-route-id="@Model.Provider.Id">
            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
            </svg>
            <span class="text">Volver a la Orden</span>
            <span class="circle"></span>
            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
            </svg>
        </button>
        </form>
</div>

<form asp-action="AddProductsToProviderOrder" method="post">
    <div class="table-responsive mb-4">
        <table class="table table-bordered table-hover">
            <thead class="table-head">
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Proveedor</th>
                    <th>Unidad Medida</th>
                    <th>Stock</th>
                    <th>Precio Lista</th>
                    <th>Precio Venta</th>
                    <th>Cantidad</th>
                    <th>Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Provider?.Name</td>
                        <td>@product.UnitM?.Name</td>
                        <td>@product.Stock</td>
                        <td>@product.List_Price.ToString("C")</td>
                        <td>@product.Sell_Price.ToString("C")</td>
                        <td>
                            <input type="number" class="form-control" name="Quantities" min="1" value="1" />
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="SelectedProductId" value="@product.Id" id="selectProduct-@product.Id">
                                <label class="form-check-label" for="selectProduct-@product.Id">
                                    Seleccionar
                                </label>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="btn-center">
        <button type="submit" class="conf-button w-50">
            <span class="text">Añadir Seleccionados</span>
        </button>
    </div>
</form>

<h3>Productos Añadidos</h3>
@if (Model.Products_Prices != null && Model.Products_Prices.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-head">
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var productPrice in Model.Products_Prices)
                {
                    var importe = productPrice.PriceList * productPrice.Quantity;
                    <tr>
                        <td>@productPrice?.Product?.Name</td>
                        <td>@productPrice?.PriceList.ToString("C")</td>
                        <td>@productPrice?.Quantity</td>
                        <td>@importe.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <h4>Importe Total: @total.ToString("C")</h4>
    </div>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                <form method="get" action="/ProviderOrder/AddProductsToProviderOrder" style="display: inline;">
                    <input type="hidden" name="pageNumber" value="@prevPage">
                    <input type="hidden" name="pageSize" value="@ViewBag.PageSize">
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy">
                    <input type="hidden" name="sortDirection" value="@ViewBag.SortDirection">
                    <button type="submit" class="button-3d">
                        <div class="button-top">
                            <span class="material-icons">❮</span>
                        </div>
                        <div class="button-bottom"></div>
                        <div class="button-base"></div>
                    </button>
                </form>
            </li>


            <!-- Páginas visibles -->
            @for (int i = 0; i < ViewBag.VisiblePages.Count; i++)
            {
                int currentPage = ViewBag.VisiblePages[i];

                if (i > 0 && currentPage > ViewBag.VisiblePages[i - 1] + 1)
                {
                    <!-- Mostrar elipsis -->
                    <li class="page-item disabled">
                        <button class="button-3d" disabled>
                            <div class="button-top">
                                ...
                            </div>
                            <div class="button-bottom"></div>
                            <div class="button-base"></div>
                        </button>
                    </li>
                }

                <li class="page-item @(ViewBag.PageNumber == currentPage ? "active" : "")">
                    <form method="get" action="@Url.Action("AddProductsToProviderOrder", "ProviderOrder")" style="display: inline;">
                        <input type="hidden" name="id" value="@Model.Id">  <!-- Incluimos el Id de la orden -->
                        <input type="hidden" name="pageNumber" value="@currentPage">
                        <input type="hidden" name="pageSize" value="@ViewBag.PageSize">
                        <input type="hidden" name="sortBy" value="@ViewBag.SortBy">
                        <input type="hidden" name="sortDirection" value="@ViewBag.SortDirection">
                        <button type="submit" class="button-3d">
                            <div class="button-top">
                                @currentPage
                            </div>
                            <div class="button-bottom"></div>
                            <div class="button-base"></div>
                        </button>
                    </form>
                </li>
            }

            <!-- Botón "Siguiente" -->
            <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                <form method="get" action="/ProviderOrder/AddProductsToProviderOrder" style="display: inline;">
                    <input type="hidden" name="pageNumber" value="@nextPage">
                    <input type="hidden" name="pageSize" value="@ViewBag.PageSize">
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy">
                    <input type="hidden" name="sortDirection" value="@ViewBag.SortDirection">
                    <button type="submit" class="button-3d">
                        <div class="button-top">
                            <span class="material-icons">❯</span>
                        </div>
                        <div class="button-bottom"></div>
                        <div class="button-base"></div>
                    </button>
                </form>
            </li>
        </ul>
    </nav>
}
else
{
    <p class="notFound">No hay productos añadidos.</p>
}